node_modules/

.next/
/out/
/build/

/.env
.env.*
!.env.example  # Allow sharing example template only

.vercel/
.netlify/
firebase.json
now.json

*.tsbuildinfo
next-env.d.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

.DS_Store
Thumbs.db
*.swp
*.swo
*.local
.idea/
.vscode/
*.code-workspace

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

/coverage/
*.lcov

/*.pem
/*.key
/*.crt

*.log
*.tgz
*.bak
*.tmp
